.matched-user{
  min-height: 100px;
  border-color: #111111;
}

#header {
    font-size: 30;
    font-weight: 500;
    
}
li.user a{
    font-weight: 200;
    font-family: 'Roboto';
    color:#212121;
    text-decoration-color: crimson;
    text-decoration-line: none;
}
