<template name="application-layout">

    <head>
        <meta charset="UTF-8">
        <title>MainPage</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head>
   
    <body style="background-color:#EEEEEE;font-family: 'Roboto', sans-serif;">
        {{> navigation}}
        <div class="container flow-text" style="width:80%;">

            {{> yield}} 
        </div>
        {{> footer}}
    </body>
</template>