<template name='chat'>
    {{> loginButtons}}

    <div style="height:20px">

    </div>

    <div class="z-depth-2" style="background-color:white;height:500px">
        <div class="row">
            <div class="col s7" style="padding-left:20px;">
                <div style="padding:20px 20px 20px 20px;">
                    {{> musicplayer}}
                </div>
                <div style="height:100px"></div>
                <div>
                    {{> chatwindow}}


                </div>
            </div>
            <div class=" col s5" style="padding-right:50px;text-align:center;">
                {{> matches}}
            </div>
        </div>
    </div>
    <div style="height:20px">

    </div>
</template>