<template name='chat'>

    {{> loginButtons}}
    <div>
            <button class = "btn btn-success back-previous">Cancel</button>
                    <div class="" style="width:95%">
                        <div style="margin:20px 20px 20px 20px;">
                            {{> chatwindow}}
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col s12 m6 l5 " style="text-align:center;">
                <div style="margin:0 0 20px 0;width:95%">
                    <div class="match-title">
                        <span>Matched Users</span>
                    </div>
                    <div class="" id="" style="overflow: auto;height: 421px;margin:0 0 30px 0;">
                        <div style="margin:20px 0 20px 0;">
                            {{> matches}}                            
                            <br>
                        </div>
                    </div>                                 
                </div>
            </div>

        </div>
    </div>
   

</template>

<template name="messages">

    {{#each msgs}}
    <!--{{createdAt}}-->
    <p id="chat-content"><span class="name">{{name}}</span> <span class="text">{{text}}</span></p>
    {{/each}}
</template>

<template name="notifications">
    <ul class="notifications">
       {{#each notifications}}
           {{> notification}}
       {{/each}}
    </ul>
</template>
